<?xml version = "1.0" encoding = "UTF-8"?>

<launch>
    <!-- Load joint conrtoller -->
    <rosparam file="$(find third_pkg)/config/pid.yaml" command="load"/>

    <!-- Load controller  -->
    <!-- I have added joint_state_controller to the controller_spawner, we forgot to do it yesterday -->
    <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false" output="screen" ns="/arm" args="motor_end_effector_position_controller joint_state_controller"/>

    <!-- Convert joints states to TF transforms for rviz, etc -->
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="false" output="screen">
        <remap from="/joint_states" to="/arm/joint_states" />
    </node>
</launch>
